.headerContainer{
    position: absolute;
    width: 100%;
    box-shadow: var(--shadow-card);
    z-index: var(--z-toast);
}

.mainContainer{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100px;
    width: 100%;

    background-color: var(--cl-primary);

    .contentWrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;

        height: 100%;
        width: var(--container-xl);

        .startWrapper, .centerWrapper, .endWrapper{
            display: flex;
            justify-content: center;
            align-items: center;

            height: 100%;
        }

        .startWrapper{
            .logoWrapper{
                display: flex;
                justify-content: center;
                align-items: flex-end;

                svg{
                    height: 24px;
                    padding: 0 var(--padding-2) 0 0;
                }

                .logoTitle{
                    color: var(--cl-text-l);
                    font-size: var(--fs-xxxl);
                    font-weight: var(--fw-semibold);
                    line-height: .6;
                }
            }
        }

        .centerWrapper{
            flex: 1;
            padding: var(--padding-8);

            .searchWrapper{
                display: flex;
                justify-content: center;
                align-items: center;

                height: 30px;
                width: 100%;

                border-radius: var(--radius-sm);
                background-color: var(--cl-foreground-l);
                overflow: hidden;
                box-shadow: var(--shadow-card);

                &:focus-within{
                    outline: solid 1px var(--cl-primary-h);
                }

                .searchInput{
                    height: 100%;
                    flex: 1;

                    background-color: transparent;
                    outline: none;
                    border: none;
                    padding: 0 var(--padding-3)
                }

                .searchButton{
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    height: 100%;

                    &:hover{
                        cursor: pointer;
                    }

                    svg{
                        height: 20px;
                        padding: 0 var(--padding-3);
                        border-left: solid 1px var(--cl-background-l);
                    }
                    
                }
            }
        }

        .endWrapper{
            position: relative;
            
            .headerLinkWrapper{
                display: flex;
                place-items: center;

                svg{
                    height: 24px;
                    cursor: pointer;

                    &:first-child{
                        margin: 0 var(--margin-8) 0 0
                    }
                }
            }

            .settingsCard{
                position: absolute;
                white-space: nowrap;
                top: 80px;
                right: 30px;
                box-shadow: var(--shadow-card);

                .settingsItem{
                    background-color: var(--cl-foreground-l);
                    padding: var(--padding-2) var(--padding-3);

                    &:first-child{
                        border-radius: var(--radius-md) var(--radius-md) 0 0;
                            font-weight: var(--fw-medium);
                    }

                    &:last-child{
                        border-radius: 0 0 var(--radius-md) var(--radius-md);
                    }

                    a{
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        margin: var(--margin-1) 0;

                        font-size: var(--fs-sm);
                        user-select: none;

                        &:first-child{
                            color: var(--cl-text-d);
                        }

                        svg{
                            margin: 0 var(--margin-2) 0 0;
                            height: 20px;
                        }
                    }
                }

                hr{
                        border: none;
                        border-top: solid 1px var(--cl-background-l);
                    }
            }
        }
    }
}

.navContainer{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 48px;
    width: 100%;

    background-color: var(--cl-secundary);

    .navWrapper{
        display: flex;
        justify-content: flex-start;
        align-items: center;

        height: 100%;
        width: var(--container-xl);

            .catWrapper{
            display: flex;
            justify-content: center;
            align-items: center;

            padding: var(--padding-1) var(--padding-3);
            border-radius: var(--radius-md);
            margin: 0 var(--margin-14) 0 0;

            &:hover{
                background-color: var(--cl-secundary-h);
                cursor: pointer;
            }

            svg{
                height: 20px;
                padding: 0 var(--padding-1) 0 0;
            }

            .catTitle{
                color: var(--cl-text-l);
                font-size: var(--fs-md);
                font-weight: var(--fw-medium);
            }
        }

        .itemsWrapper{
            display: flex;
            place-items: center;

            .navItem{
                display: flex;
                color: var(--cl-text-l);

                a{
                    margin: var(--margin-4);
                    padding: var(--padding-1) var(--padding-3);
                    border-radius: var(--radius-md);
                    font-size: var(--fs-sm);

                    &:hover{
                        background-color: var(--cl-secundary-h);
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}